/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
* {
  margin: 0;
  padding: 0;
}

h2 {
  color: red;
  padding: 10px 0 0px 0;
  margin: 3px;
  font-size: .7rem;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: .7rem;
  color: black;
}

.socialMedia {
  font-size: 1.3rem;
  color: black;
  text-shadow: -1px 1px 2px white,
				  1px 1px 2px white,
				  1px -1px 0 white,
				  -1px -1px 0 white;
}

.fa-brands a{
  cursor: pointer;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Navigation */

nav ul {
  height: 50px;
  width: 100%;
  margin: 0 auto;
  background: black;
}

nav ul li {
  list-style-type: none;
  width: 11.1111%;
  float: left;
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  color: white;
  line-height: 50px;
  display: block;
  background: black;
  margin: 0 auto;
}

.navigation a:hover {
  background: red;
  transition: transform 5s;
}

span {
  display: block;
}

.navigationLogo a {
  height: 50px;
  width: 50px;
}

.navigationLogo img {
  width: 60px;
  height: 50px;
  margin-left: 10px;
}

/* Welcome */

main {
  background-image: url('../assets/images/restaurant1.jpg');
  background-size: cover;
  background-repeat: no-repeat ;
  background-position: center;
}

h1 {
  clear: both;
  font-size: 4rem;
  width: 50%;
  margin-left: 50px;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  text-shadow: -1px 1px 2px white,
				  1px 1px 2px white,
				  1px -1px 0 white,
				  -1px -1px 0 white;
}

form {
  margin-top: 5px;
  margin-left: 50px;
}

input {
  width: 180px;
  height: 40px;
  width: 300px;
}

.welcome button {
  height: 40px;
  width: 80px;
  background: red;
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
}

::placeholder {
  color: gray;
}

.fa-brands {
  color: red;
  margin-top: 5px;
  padding: 5px 5px 15px 5px;
}

.socialMedia {
  margin-left: 50px;
}

/* About Us */

.aboutUs {
  height: 450px;
  padding-left: 50px;
}

h2 {
  font-size: 1rem;
}

h2 + span {
  font-family: 'Playfair Display', serif;
  font-size: 2.4rem;
  margin: 0 0 5px 0;
  text-shadow: -1px 1px 1px white,
				  1px 1px 1px white,
				  1px -1px 0 white,
				  -1px -1px 0 white;
}

.aboutUs p{
  margin: 30px 0;
  font-size: 1rem;
}

.aboutUs button {
  color: white;
  font-size: 1rem;
  background-color: black;
  border: 1px solid red;
  height: 50px;
  width: 140px;
  margin-top: 10px;
  cursor: pointer;
}

.aboutUs section {
  float: left;
  width: 50%;
}

.aboutUs img {
  width: 100%;
  padding: 15px;
}

/* Specialty */

.specialty {
  text-align: center;
  background: rgb(33, 33, 33);
  clear: both;
}

.specialty h2 {
  padding-top: 30px;
}

.meals ul li {
  float: left;
  width: 25%;
  text-align: center;
  list-style-type: none;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: red;
  padding: 5px 0;
}

.meals a {
  border-bottom: 2px solid red;
  color: red;
  text-decoration: none;
  padding-bottom: 5px;
}

.meals a:hover {
  color: white;
  border-color: white;
}

/* Hovering Image Title */
.image {
  position: relative;
  width: 360px;
  padding: 20px;
  margin-top: 10px;;
}

.image__img {
  display: block;
  width: 100%;
  height: 250px;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

.image__title {
  font-size: 2em;
  font-weight: bold;
}

.image__description {
  font-size: 1.5em;
  margin-top: 0.25em;
}

.options h2, .options span {
  text-align: center;
}

.image button {
  width: 100px;
  height: 30px;
  background: black;
  color: white;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
}

.image {
  float: left;
}

/* Hours */

.bookTable {
  text-align: center ;
  clear: both;
}

.hours span {
  float: left;
  width: 50%;
}

.fa-phone {
  color: red;
  border: 1px solid red;
  border-radius: 50%;
  padding: 5px;
  margin: 5px;
}

.telephone {
  color: red;
}

.hours span, .fa-phone + span, .fa-phone + span + span {
  font-size: 1.3rem;
}

/* Testimonials */

.testimonials {
  text-align: center; 
  border-bottom: 3px solid red;
  height: 300px;
}

.testimonials img + span{
  font-size: 1.2rem;
}

.testimonials span + span {
  font-size: .8rem;
}

.testimonials p {
  font-style: italic;
  padding-top: 10px;
  width:50%;
  margin: 0 auto;
  font-size: .9rem;
}

.testimonials img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  padding: 5px;
}

.fa-star {
  color: orange;
}

.divider{
  margin-left: 310px;
  padding: 0;
  width: 800px;
  height: 100px;
}

/* Footer */

footer {
  background: rgb(33, 33, 33);
  color: red;
  height: 80px;
  text-align: center;
  padding: 10px;
}

footer .fa-brands {
  color: red;
  text-shadow: -1px 1px 2px white,
				  1px 1px 2px white,
				  1px -1px 0 white,
				  -1px -1px 0 white;
  margin-bottom: 10px;
}

footer ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  
}

footer ul li a {
  text-decoration: none;
  background: rgb(33, 33, 33);
  color: red;
}

footer a:hover {
  color: white;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media all and (max-width: 850px) {

  body > * {
    width:100%;
    margin: 0;
    padding: 0;
  }

  /* Navigation */
  .navigation {
    visibility: hidden;
  }

  .fa-solid {
    visibility: visible;
  }

  /* Main */

  h1 {
    padding: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
  }

  main button, main input {
    display: none;
  }

  .socialMedia {
    margin: 0 auto;
  }
  /* About Us */

  .aboutUs {
    padding: 0;
  }
  .aboutUs section{
    width: 100%;
    text-align: center;
  }

  .aboutUs button {
    display: none;
  }

  .aboutUs section > img {
    padding: 0;
    width: 100%;
  }

  .aboutUs p {
    padding: 0 10px;
  }

  .aboutUs section >img {
    width: 90%;
  }

  /* Specialty */
  .specialty {
    display: none;
  }

  /* Hours */
  .mobileHours {
    visibility: visible;
    width: 100%;
  }

  .hours {
    display: none;
  }

  .divider {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }

  .testimonials {
    height: 450px;
  }

  .testimonials p {
    font-size: 1rem;
  }

  /* footer */
  footer ul li {
    display: none;
  }

  .stayConnected .fa-brands {
    padding-top: 20px;
  }
}

@media (min-width: 850px) and (max-width: 1022px) {

  body > * {
    width:100%;
    margin: 0;
    padding: 0;
  }

  /* Navigation */
  .navigation {
    visibility: visible;
  }

  nav .fa-solid {
    display: none;
  }

  nav ul {
    height: 50px;
    width: 100%;
    margin: 0 auto;
    background: black;
  }
  
  nav ul li {
    list-style-type: none;
    width: 11.1111%;
    float: left;
    text-align: center;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    line-height: 50px;
    display: block;
    background: black;
    margin: 0 auto;
  }
  
  .navigation a:hover {
    background: red;
    transition: transform 5s;
  }
  
  span {
    display: block;
  }
  
  .navigationLogo a {
    height: 50px;
    width: 50px;
  }
  
  .navigationLogo img {
    width: 60px;
    height: 50px;
    margin-left: 10px;
  }
  

  /* Main */

  h1 {
    padding: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
  }

  main button, main input {
    display: none;
  }

  .socialMedia {
    margin: 0 auto;
  }
  /* About Us */

  .aboutUs {
    padding: 0;
  }
  .aboutUs section{
    width: 100%;
    text-align: center;
  }

  .aboutUs button {
    display: none;
  }

  .aboutUs section > img {
    padding: 0;
    width: 100%;
  }

  .aboutUs p {
    padding: 0 10px;
  }

  .aboutUs section >img {
    width: 600px;
  }

  /* Specialty */
  .specialty {
    display: none;
  }

  /* Hours */
  .mobileHours {
    display: none;
    width: 100%;
  }

  .hours {
    visibility: visible;
  }

  .divider {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }

  .testimonials {
    height: 450px;
  }

  /* footer */
  .footer {
    flex-wrap: wrap;
  }

  .stayConnected .fa-brands {
    margin-top: 10px;
  }
}
@media (min-width:1023px) and (max-width: 1299px) {

  body > * {
    width:100%;
    margin: 0;
    padding: 0;
  }

  /* Navigation */
  .navigation {
    visibility: visible;
  }

  nav .fa-solid {
    display: none;
  }

  nav ul {
    height: 50px;
    width: 100%;
    margin: 0 auto;
    background: black;
  }
  
  nav ul li {
    list-style-type: none;
    width: 11.1111%;
    float: left;
    text-align: center;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    line-height: 50px;
    display: block;
    background: black;
    margin: 0 auto;
  }
  
  .navigation a:hover {
    background: red;
    transition: transform 5s;
  }
  
  span {
    display: block;
  }
  
  .navigationLogo a {
    height: 50px;
    width: 50px;
  }
  
  .navigationLogo img {
    width: 60px;
    height: 50px;
    margin-left: 10px;
  }

  /* Main */

  h1 {
    padding: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
  }

  main button, main input {
    display: none;
  }

  .socialMedia {
    margin: 0 auto;
  }
  /* About Us */

  .aboutUs {
    padding: 0;
  }
  .aboutUs section{
    width: 100%;
    text-align: center;
  }

  .aboutUs button {
    display: none;
  }

  .aboutUs section > img {
    padding: 0;
    width: 100%;
  }

  .aboutUs p {
    padding: 0 10px;
  }

  .aboutUs section >img {
    width: 650px;
  }

  /* Specialty */
  .specialty {
    width: 100%;
    height: 1100px;
  }

  .image {
    position: relative;
    width: 340px;
    padding: 20px;
    margin-top: 10px;;
  }
  
  .image__img {
    display: block;
    width: 100%;
    height: 250px;
  }
  

  /* Hours */
  .mobileHours {
    display: none;
  }

  .hours {
    width: 100%;
  }

  .divider {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }

  .testimonials {
    height: 450px;
  }

  /* footer */
  .footer {
    flex-wrap: wrap;
  }

  .stayConnected .fa-brands {
    margin-top: 10px;
  }
}

@media (min-width:1300px) and (max-width: 1399px) {
  /* About Us */

  .aboutUs {
    padding: 0;
  }
  .aboutUs section{
    width: 100%;
    text-align: center;
  }

  .aboutUs button {
    display: none;
  }

  .aboutUs section > img {
    padding: 0;
    width: 100%;
  }

  .aboutUs p {
    padding: 15px;
    width: 80%;
    margin: 0 auto;
  }

  .aboutUs section {
    float: left;
    width: 50%;
  }

  .aboutUs img {
    width: 100%;
    margin: 15px 0;
  }

  /* Hours */
  .mobileHours {
    display: none;
  }

  .hours {
    width: 100%;
  }

  .divider {
    display: none;
  }

  /* Specialty */
  .specialty {
    height: 750px;
  }

  .image {
    position: relative;
    width: 300px;
    padding: 20px;
    margin-top: 10px;;
  }
  
  .image__img {
    display: block;
    height: 250px;
    width: 300px;
    padding: 10px;
    margin-left: 40px;
  }
} 

@media (min-width:1400px) {
  .specialty {
    height: 800px;
  }

  .mobileHours {
    display: none;
  }

  .image {
    position: relative;
    width: 340px;
    padding: 20px;
    margin-top: 10px;;
  }
  
  .image__img {
    display: block;
    width: 100%;
    height: 250px;
  }
}